*{
    transition: all 0.8s;
}
html,body{
    background-color: rgba(197, 142, 101, 0.71);
    height: 100%;
    width: 100%;
    overflow:auto;
}
body{
    background-image:url(/custom/images/bgm.gif);
    background-color: rgba(197, 142, 101, 0.71);
    position: fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-origin:content;
    background-position:50% 100%;
    background-repeat: repeat;
}
.stage{
    position: absolute;
    width: 60%;
    top: 10%;
    left: 20%;
    border-radius: 10px;
    background-color: rgba(244, 245, 237, 0.4);
    color: rgba(0, 0, 0, 0.7);
}

.stage td{
    font-size: 12px;
}
.stage h3,.stage h5{
    margin-left: 10px;
}
.stage th{
    font-size: 14px;
}
.table tr:hover{
    background-color: rgba(23, 57, 14, 0.35);
}
.navbar-btn{
    right: 10px;
    margin-right:10px;
}
td a,td span{
    padding: 5px;
    border-radius: 10px;
    display: block;
    color: rgb(250, 242, 237);
    font-weight: bold;
    word-break: keep-all;
}
@media all and (max-width: 767px){
    .container,.stage,.table {
        width: 100%;
        left:0px;
        margin-left:0px;
    }
    .stage{
        background-color: rgba(255, 0, 0, 0);
    }
}
@media all and (min-width: 768px){
    body{
        
        background-image: url(/custom/images/bg.jpg);
    }
}